main {
  width: 100vw;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.row {
  display: flex;
  gap: 20px;
  width: 40vw;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main-img {
  height: 100%;
  background-size: cover;
  /* flex-grow: 1; */
}
