<main>
  <!-- <div id="row0" class="row0"> -->
  <div id="col1" class="col">
    <div id="row1" class="row">
      <div id="logo" style="background-image: url('assets/logo.png')"></div>
      <app-about class="tile"></app-about>
    </div>

    <div id="row2" class="row">
      <app-robots
        style="background-image: url('assets/logo.jpg')"
        class="tile"
      ></app-robots>
      <!-- <app-publications id="publications" class="tile"></app-publications> -->
      <app-repos class="tile"></app-repos>
    </div>

    <div id="row3" class="row">
      <div
        id="main-img"
        class="tile"
        style="background-image: url('assets/3.jpg')"
      ></div>
      <!-- <app-members class="tile"></app-members> -->
      <app-previous class="tile"></app-previous>
    </div>

    <div id="row3" class="row">
      <!-- <div
        id="main-img"
        class="tile"
        style="background-image: url('assets/3.jpg')"
      ></div> -->
      <app-members class="tile"></app-members>
      <div
        id="main-img"
        class="tile"
        style="background-image: url('assets/4.jpg')"
      ></div>
    </div>
  </div>

  <div id="col2" class="col">
    <div id="row4" class="row">
      <app-links class="tile"></app-links>
    </div>

    <div id="row5" class="row">
      <div
        id="main-img"
        class="tile"
        style="background-image: url('assets/main.jpg')"
      ></div>
    </div>

    <div id="row4" class="row">
      <app-links class="tile"></app-links>
    </div>
  </div>
  <!-- </div> -->
</main>

<!-- 
<div style="display: flex; margin-top: 100px">
  <div style="flex: 1"></div>
  <img src="assets/img.png" alt="lol" style="width: 90%">
  <div style="flex: 1"></div>
</div> -->
