main {
  padding-top: 30px;
  width: 100vw;
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.row {
  display: flex;
  gap: 20px;
  width: 40vw;
  /* max-height: 550px; */
}

#row3 {
  display: flex;
  gap: 20px;
  /* background-color: black; */
  width: 40vw;
  flex-shrink: 4;

  /* background-color: black; */
}

#publications {
  flex-grow: 2;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#robots {
  flex-grow: 1;
  color: black;
}



#main-img {
  display: flex;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: top; /* Center the background image */
  transition: none;
  /* flex-grow: 1; */
}

#main-img:hover {
  transform: none;
}
