/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

.tile {
  display: block;
  width: 100%;
  border-radius: 15px;
  background-color: #eaf6f6;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.6s;
  transition: transform 0.3s ease;
  /* flex-shrink: 1; */
}

.tile:hover {
  background-color: #d0d0d0;
  transition-duration: 0.6s;
  transform: scale(1.08);
}
